body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 14px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}


/* Container
===================*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.maps {
    position: relative;
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    top: 95px;
    left: 25%;
}


/* Header
===================*/

.header {
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.header.fixed {
    height: auto;
    position: fixed;
    background-color: #31344e;
}

.header.fixed .header__inner {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    align-items: center;
    padding: 15px 0;
    border-bottom: 2px solid #ffd000;
}
.header__logo {
    font-size: 25px;
    
}


/* Nav
===================*/

.nav {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
}
.nav__link {
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: .7;
    transition: opacity .1s linear;
}
.nav__link:first-child {
    margin-left: 0;
}
.nav__link:hover {
    opacity: 1;
}


/* Intro
===================*/

.intro {
    display: block;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    height: 1000px;
    padding-top: 150px;
    background: #31344e url(img/Back_fon.png) center no-repeat; 
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 1200px;
    margin: 0;
    align-items: center;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    padding: 0;
    
   
}

.intro__title {
    margin: 0;
    font-size: 50px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.intro__subtitle {
    margin-bottom: 60px;
    font-size: 23px;
    color: #fff;
    line-height: 1.5;
    font-weight: 700;
}


    












/* Section
===================*/

.section__header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 50px;
    text-align: center;
    
}
.section__subtitle {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    padding: 50px;
    font-size: 30px;
    font-weight: 700;
    color: #333;
    
}
.section__title {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}



/* Footer
===================*/

.footer {
    background-color: #3a3e64;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

.footer__block {
    width: 33.33333%;
    padding: 0 15px;

    text-align: center;
}

.footer__title {
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.footer__address {
    font-size: 14px;
    line-height: 1.5;
    font-style: normal;
    color: rgba(255, 255, 255, .5);
}

.footer__text {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, .5);
}



/* Copyright
===================*/

.copyright {
    padding: 20px 0;

    background-color: #313454;
}

.copyright__text {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #808080;
}

.copyright__text span {
    color: #fff;
}


/* Burger */
.burger {
    display: none;
    padding: 9px 2px;

    background: none;
    border: 0;
    cursor: pointer;
}

.burger__item {
    display: block;
    width: 28px;
    height: 3px;

    background-color: #fff;

    font-size: 0;
    color: transparent;

    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";
    height: 100%;

    background-color: #fff;

    position: absolute;
    right: 0;
    z-index: 1;
}

.burger__item:before {
    width: 30px;
    top: -8px;
}

.burger__item:after {
    width: 26px;
    bottom: -8px;
}



/* Media
===================*/

@media (max-width: 1300px) {
    /* Works */
    .works__item {
        width: 50%;
    }
}

@media (max-width: 991px) {

    /* Nav */
    .nav {
        display: none;
        width: 100%;
        flex-direction: column;

        background-color: #31344e;
        text-align: right;

        position: absolute;
        top: 100%;
        right: 0;
    }

    .nav.show {
        display: flex;
    }

    .nav__link {
        padding: 9px 15px;
    }

    /* Burger */
    .burger {
        display: block;
    }

    /* Intro */
    .intro__title {
        font-size: 40px;
    }

    /* Features */
    .features__item {
        width: 50%;
    }

    /* Team */
    .team__item {
        width: 50%;

        text-align: center;
    }

    .team__photo {
        margin-left: auto;
        margin-right: auto;
    }

    /* Team */
    .social {
        justify-content: center;
    }

    /* Reviews */
    .reviews__photo {
        width: 100%;
        margin: 15px 0 40px;
        overflow: hidden;
    }

    .reviews__content {
        width: 100%;
        padding-left: 0;
        padding-bottom: 40px;
    }
}


@media (max-width: 767px) {

    /* Intro */
    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }

    .intro__title {
        font-size: 30px;
    }

    .intro__subtitle {
        margin-bottom: 30px;

        font-size: 16px;
    }

    /* Features */
    .features {
        margin: 40px 0;
    }

    .features__item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    /* Works */
    .works__item {
        width: 100%;
        height: 300px;
    }

    /* Team */
    .team {
        margin: 60px 0 30px;
    }

    .team__item {
        width: 100%;
    }

    /* Reviews */
    .reviews__text {
        font-size: 25px;
    }

    /* Btn */
    .btn--long {
        min-width: 260px;
    }

    /* Download */
    .download {
        margin: 50px 0;
    }

    .download__title {
        font-size: 24px;
    }

    /* Footer */
    .footer__inner {
        padding: 30px 0;
    }

    .footer__block {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 30px;
    }

    .footer__block:last-child {
        margin-bottom: 0;
    }
}


@media (max-width: 414px) {

    /* Reviews */
    .reviews__img {
        right: -100px;
    }
}






